@font-face {
  font-family: 'Geist', sans-serif;
  src: url('/fonts/Geist-VariableFont_wght.woff2');
}

/* GeistMono */
@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'GeistMono', cursive;
  src: url('/fonts/Geist_Mono/static/GeistMono-Thin.ttf');
  font-weight: 100;
}
